<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Forum - Subs</title>

    <style type="text/css">
      .topic-col {
        min-width: 16em;
      }
      .created-col,
      .last-post-col {
        min-width: 12em;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <h1><a href="/forum" class="navbar-brand">Forum</a></h1>
        <h1><a href="/" class="navbar-brand">Menu</a></h1>
        <a href="/logout"><button type="button" class="btn btn-primary">Logout</button></a>
      </div>
    </nav>
    <div class="container my-3">
      <nav class="breadcrumb">
        <a href="/forum" class="breadcrumb-item">Board index</a>
        <a href="/forum" class="breadcrumb-item active"><%= title %></a>
      </nav>
      <div class="row">
        <div class="col-12">
          <h2 class="h4 text-white bg-info mb-0 p-4 rounded-top"><%= title %></h2>
          <table class="table table-striped table-bordered table-responsive-lg">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="topic-col">Topic</th>
                <th scope="col" class="created-col">Created</th>
                <th scope="col">Type</th>
            </thead>
            <tbody>
              <% for(let i=0; i < posts.length; i++) {%>
              <tr>
                <td>
                  <h3 class="h6"><a href="/forumtop/<%=posts[i]._id %>"><%= posts[i].topic %></a></h3><p> <%= posts[i].comment %> </p>
                </td>
                <td>
                  <div>by <a href="#"><%= posts[i].postedBy %></a></div>
                  <div><%= posts[i].date %></div>
                </td>
                <td>
                  <div> <%= posts[i].tag %> </div>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      </div>

      <!-----Make a post------->
      <a href="/forumpost/<%= cat %>" class="btn btn-lg btn-primary d-flex justify-content-center">New <%= cat %> topic</a>
    </div>
    <footer class="small bg-dark text-white">
      <div class="container py-4">
        <ul class="list-inline mb-0 text-center">
          <li class="list-inline-item">&copy; 2021 Black Owned and Created.</li>
          <li class="list-inline-item">All rights reserved.</li>
          <li class="list-inline-item"><a href="#">Trading disclaimer</a>.</li>
        </ul>
      </div>
    </footer>

    <!-- jQuery first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  </body>
</html>